<h5 class="smart-frame bg-warning">
  <u>
    モチベーションの作成に失敗しました
  </u>
</h5>
<p>
  教えていただいたモチベーションの内容に<br>
  問題があったみたいです
</p>
<p>
  モチベーションの詳細<br>
  モチベーションの思い出<br>
  どちらかに空欄があったみたいです
</p>
<p>
  モチベーションの詳細も思い出も<br>
  普通に過ごしている中で<br>
  ふとした拍子に<br>
  泡のように浮かび上がってくるものです
</p>
<p>
  もしくはモチベーションの詳細が<br>
  他のモチベーションと被ってませんか？
</p>
<p>
  同じモチベーションでも違うモチベーションでも<br>
  同じ内容で思い出が違っても<br>
  熱量は違うはずです
</p>
<p>
  その熱量を詳細にも思い出にも<br>
  書き記してください
</p>