<h5 class="smart-frame bg-warning">
  <u>
    モチベーションの作成に失敗しました
  </u>
</h5>
<p>
  教えていただいたモチベーションの内容に<br>
  問題があったみたいです
</p>
<p>
  モチベーションの詳細<br>
  モチベーションの思い出<br>
  どちらかに空欄があったみたいです
</p>
<p>
  モチベーションの詳細も思い出も<br>
  ふとした拍子に<br>
  泡のように浮かび上がってくるものです
</p>
<p>
  もしくはモチベーションの詳細が<br>
  他のモチベーションと被ってませんか？
</p>
<p>
  モチベーションの思い出が同じであったとしても<br>
  思い出で感じる詳細は違うはずです
</p>
<p>
  あなたの熱量を詳細と思い出にも書き記してください
</p>