<p>
  あなたがしてみたいと思うこと<br>
  それができるようになっているということは<br>
  あなたが理想を叶えていっているという<br>
  一つの証でもあります
</p>
<p>
  実際に出来るようになると<br>
  一つの達成感があることでしょう
</p>
<p>
  それは些細なことでも大きなことでも<br>
  なんでも構いません
</p>
<p>
  誰かがやっていることでも<br>
  誰かに誇れることができることでも
</p>
<p>
  そして反対に
</p>
<p>
  誰もしていないようなことでも<br>
  馬鹿らしいようなことでも<br>
  誰にも誇れないようなことでも
</p>
<p>
  なんでも良いのです
</p>
<p>
  あなたが心から望んでいるものであるのならば
</p>
<p>
  それはモチベーションとなっていくのですから
</p>