<p>
  あなたが手に入れたい、欲しいと思う<br>
  その欲求は何事にも変わることのできない<br>
  とても大きな大事な欲求です
</p>
<p>
  そしてそれは同時に<br>
  誰かが持っていたり<br>
  自身が未だ持っていなくて<br>
  思い焦がれるものでもあります
</p>
<p>
  叶えたいと思う<br>
  なりたいと思う<br>
  理想の将来と同じものです
</p>
<p>
  思い焦がれるその思いは<br>
  あなたにとっての理想を現実に変える<br>
  大きなモチベーションとなります
</p>
<p>
  まずは欲しいと思うものを教えてください<br>
  言葉にして繰り返してください<br>
  できるならば写真などで<br>
  イメージできるようにしてみましょう<br>
  そしてその価値を理解してみましょう
</p>
<p>
  手に入れたいと思うその物の価値<br>
  それを手にした時にあなたの価値は<br>
  それを持つことのできる価値になります
</p>
<p>
  あなたの価値を上げるのはあなた自身です
</p>