<p>
  その後にToDoリストを<br>
  作成していくことになります<br>
  ToDoリストを完遂していくことで<br>
  一歩ずつ目標の達成に近づいていきます
</p>
<p>
  ToDoリストは<br>
  目標を達成するための課題となる予定を<br>
  さらに細かくした課題となります
</p>
<p>
  全ての行動と全ての考えが<br>
  あなたの理想を叶える力になります
</p>