<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">
    <div id='calendar' class="m-5 p-5 bg-light">
      <%= link_to "予定を立てる",new_schedule_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>