<div class="container-fluid">
  <% if params[:error] %>

    <!--予定作成に失敗した場合のエラー文-->
    <div class="row justify-content-center open-book my-4 py-3">
      <!--左のページ-->
      <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
        <div>
          <h5 class="smart-frame bg-warning mb-5">
            <u>
              予定の作成に失敗しました
            </u>
          </h5>
        </div>
        <div class="cross-frame">
          <p>
            終了時間は開始時間より<br>
            過去にならないように<br>
            注意してください
          </p>
          <p>
            予定の作成が終わった後は<br>
            その予定に関するToDoリストを<br>
            作っていくことになります
          </p>
        </div>
      </div>

      <!--右のページ-->
      <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
        <p>
          ToDoリストを完遂していくことで<br>
          一歩ずつ目標の達成に近づいていきます
        </p>
        <p>
          ToDoリストは<br>
          目標を達成するための課題となる予定を<br>
          さらに細かくした課題となります
        </p>
        <p>
          全ての行動と全ての考えが<br>
          あなたの理想を叶える力になります
        </p>
        <div class="d-flex justify-content-around">
          <%= link_to "もう一度予定を作成する", new_schedule_path, class: "btn btn-primary" %>
          <%= link_to "カレンダーに戻る", schedules_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>

  <% else %>

    <%= form_with model: @schedule,url: schedules_path, method: :post, class: "row justify-content-center open-book my-4 py-3" do |f| %>
      <%= render :partial =>'form', :locals => { :f => f, problems: @problems } %>
    <% end %>

  <% end %>
</div>