<!--左のページ-->
<div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
  <p>
    これから達成していく目標<br>
    あなたの人生の指針
  </p>
  <p>
    教えていただきましてありがとうございます
  </p>
  <p>
    これから達成していく目標やキーワード<br>
    あなたが人生で大切にしている指針<br>
    それはあなたの人生を彩っていきます
  </p>
  <p>
    これからこの手帳と共に<br>
    あなたの人生に色をつけていってください
  </p>
</div>

<!--右のページ-->
<div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
  <p>
    この手帳を<br>
    毎日確認を行い<br>
    毎日書き込みすることによって
  </p>
  <p>
    あなたの味方となり<br>
    目標を叶える大切なパートナーとなっていくでしょう
  </p>
  <p>
    それはきっとあなたの人生を豊かにするだけでなく
  </p>
  <p>
    あなたの人生が<br>
    なにものにもかえがたい大切なものに<br>
    成長していくことと思います
  </p>
  <p>
    そして夢が叶うことを祈っています
  </p>
  <%= link_to "さぁ、はじめましょう", schedules_path, class: "btn btn-lg btn-block btn-outline-primary" %>
</div>