<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <% unless params[:error] %>
        <p>
          理想のライフスタイル<br>
        </p>
        <p>
          ライフスタイル　／　Lifestyle<br>
          英語から直訳すると<br>
          「生き方」という意味となります
        </p>
        <p>
          さらに言葉の意味はかなり広く<br>
          「衣食住」だけでなく<br>
          人生観・価値観・習慣などを含めた<br>
          個人の生き方<br>
          という意味で使われているそうです
        </p>
        <p>
          何を大切にするかによって<br>
          ライフスタイルはわかります
        </p>
        <p>
          難しく考える必要はどこにもありません<br>
          あなたの理想の生活を<br>
          考えるだけでいいのです
        </p>
      <% else %>
        <h5 class="smart-frame bg-warning">
          <u>
            理想のライフスタイルの作成に<br>
            失敗しました
          </u>
        </h5>
        <p>
          教えていただいた<br>
          理想のライフスタイルに<br>
          空欄があったみたいです
        </p>
        <p>
          やってみたいこと<br>
          こんな朝を迎えたい<br>
          お昼はこんなランチがいい<br>
          夜はこんなことがしたい
        </p>
        <p>
          ただしたいと思う日常<br>
          それがあなたにとっての<br>
          理想のライフスタイルです
        </p>
        <p>
          そうなりたいと思う<br>
          それがいつしか習慣となり<br>
          あなた自身の将来の<br>
          素敵な日常となります
        </p>
      <% end %>
      <%= render 'users/keyword_show' %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <% if params[:record] %>
        <h5 class="masking-tape">
          <u>
            理想のライフスタイルを<br>
            記録しました
          </u>
        </h5>
      <% else %>
        <h5 class="smart-frame">
          <u>
            あなたが過ごしたいと思う<br>
            理想のライフスタイルを<br>
            3つ教えて下さい
          </u>
        </h5>
      <% end %>
      <p>
        どうしてそのライフスタイルに<br>
        憧れているのか<br>
        理由も教えて下さい
      </p>
      <p>
        やりたいこと、憧れていること<br>
        今の生活と比べてどうなりたいのか<br>
        ただそれだけです
      </p>
      <%= form_with model: @ideal,url: lifestyle_create_ideals_path, method: :post do |f| %>
        <%= render :partial =>'form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>