<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <!--タブ表示機能-->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-lifestyle-tab" data-toggle="tab" href="#nav-lifestyle" role="tab" aria-controls="nav-lifestyle" aria-selected="true">理想のライフスタイル</a>
          <a class="nav-item nav-link " id="nav-keyword-tab" data-toggle="tab" href="#nav-keyword" role="tab" aria-controls="nav-keyword" aria-selected="false">キーワード</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <!--理想のライフスタイルのタブ-->
        <div class="tab-pane fade show active" id="nav-lifestyle" role="tabpanel" aria-labelledby="nav-lifestyle-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <% if params[:error] %>

              <!--バリデーションエラーが発生した場合-->
              <h5 class="smart-frame bg-warning">
                <u>
                  理想のライフスタイルの作成に<br>
                  失敗しました
                </u>
              </h5>
              <p>
                教えていただいた理想のライフスタイルに<br>
                空欄があったみたいです
              </p>
              <p>
                こんな朝を迎えたい<br>
                お昼はこんなランチがいい<br>
                夜はこんなことがしたい
              </p>
              <p>
                ただしたいと思う日常<br>
                それがあなたにとっての<br>
                理想のライフスタイルです
              </p>
              <p>
                そうなりたいと思うことで<br>
                それがいつしか習慣となり<br>
                あなた自身の将来の素敵な日常となります
              </p>

            <% else %>

              <!--ページに訪れた際に表示-->
              <p class="mt-1">
                理想のライフスタイル<br>
              </p>
              <p>
                ライフスタイル　／　Lifestyle<br>
                英語から直訳すると<br>
                「生き方」という意味となります
              </p>
              <p>
                さらに言葉の意味はかなり広く<br>
                「衣食住」だけでなく<br>
                人生観・価値観・習慣などを含めた個人の生き方<br>
                という意味で使われているそうです
              </p>
              <p>
                何を大切にするかによって<br>
                ライフスタイルはわかります
              </p>
              <p>
                難しく考える必要はどこにもありません<br>
                あなたの理想の生活を考えるだけでいいのです
              </p>

            <% end %>
          </div>
        </div>

        <!--キーワードのタブ-->
        <div class="tab-pane fade" id="nav-keyword" role="tabpanel" aria-labelledby="nav-keyword-tab">
          <%= render 'users/keyword_show' %>
        </div>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <% if params[:record] %>

        <!--保存に成功した場合-->
        <h5 class="masking-tape">
          <u>
            理想のライフスタイルを記録しました
          </u>
        </h5>

      <% else %>

        <!--ページに訪れた際に表示-->
        <h5 class="smart-frame">
          <u>
            あなたが過ごしたいと思う<br>
            理想のライフスタイルを<br>
            教えてください
          </u>
        </h5>

      <% end %>
      <p>
        どうしてそのライフスタイルに憧れているのか<br>
        理由も教えて下さい
      </p>
      <p>
        やりたいこと、憧れていること<br>
        今の生活と比べてどうなりたいのか<br>
        ただそれだけです
      </p>
      <%= form_with model: @ideal, url: lifestyle_create_ideals_path, method: :post do |f| %>
        <%= render :partial =>'form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>