<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <% unless params[:error] %>
        <p>
          基本的に人は一人でなんでもできる<br>
          というわけではありません
        </p>
        <p>
          精神的  ・  仕事的
        </p>
        <p>
          それらは関わる人と<br>
          切っても切り離せないもの
        </p>
        <p>
          その中で<br>
          あなたにとってのパートナーとは<br>
          どういった存在なのでしょうか
        </p>
        <p>
          相棒  恋人  夫婦  親友
        </p>
        <p>
          あなたにとっての唯一の<br>
          パートナーを考えてみて下さい
        </p>
        <p>
          それはあなたがあなたであるために<br>
          必要な存在であると思います<br>
          そしてあなたが理想を追い求める上で<br>
          必要な存在となると思います
        </p>
      <% else %>
        <h5 class="smart-frame bg-warning">
          <u>
            理想のパートナーの作成に失敗しました
          </u>
        </h5>
        <p>
          教えていただいた理想のパートナーに<br>
          空欄があったみたいです
        </p>
        <p>
          仕事の相棒<br>
          プライベートの親友<br>
          一緒に一生を過ごす夫婦
        </p>
        <p>
          あなたは何をしてあげられますか<br>
          その人は何をしてくれますか
        </p>
        <p>
          そしてその人とあなたは<br>
          周りからどのように呼ばれますか<br>
        </p>
        <p>
          それがあなたにとっての<br>
          理想のパートナーとなるでしょう
        </p>
      <% end %>
      <%= render 'users/keyword_show' %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <% if params[:record] %>
        <h5 class="masking-tape">
          <u>
            理想のパートナーを<br>
            記録しました
          </u>
        </h5>
      <% else %>
        <h5 class="smart-frame">
          <u>
            あなたの最高のパートナー<br>
            その関係を教えて下さい
          </u>
        </h5>
      <% end %>
      <p>
        パートナーとの関係性はなんですか<br>
        パートナーとの関わり方はなんですか
      </p>
      <p>
        どうしてパートナーが必要と思いますか
      </p>
      <p>
        その人とはきっと<br>
        切っても切れない関係です
      </p>
      <p>
        あなたの将来を考えた時に<br>
        一緒にいる人がきっとその人です
      </p>
      <%= form_with model: @ideal,url: partner_create_ideals_path, method: :post do |f| %>
        <%= render :partial =>'form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>