<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <!--タブ表示機能-->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-relationship-tab" data-toggle="tab" href="#nav-relationship" role="tab" aria-controls="nav-relationship" aria-selected="true">理想の人間関係</a>
          <a class="nav-item nav-link " id="nav-keyword-tab" data-toggle="tab" href="#nav-keyword" role="tab" aria-controls="nav-keyword" aria-selected="false">キーワード</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <!--理想の人間関係のタブ-->
        <div class="tab-pane fade show active" id="nav-relationship" role="tabpanel" aria-labelledby="nav-relationship-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <% if params[:error] %>

              <!--バリデーションエラーが発生した場合-->
              <h5 class="smart-frame bg-warning">
                <u>
                  理想の人間関係の作成に<br>
                  失敗しました
                </u>
              </h5>
              <p>
                教えていただいた理想の人間関係に<br>
                空欄があったみたいです
              </p>
              <p>
                どんな人と関わり合いになりたいと思いますか<br>
                そしてその人に何を求めますか
              </p>
              <p>
                遊んでほしい<br>
                褒めて欲しい<br>
                支えてほしい<br>
              </p>
              <p>
                他にもいろいろとあると思います
              </p>
              <p>
                どういう時に<br>
                何をして欲しいのか<br>
                何をしてあげたいのか
              </p>
              <p>
                その関係性こそが<br>
                あなたが求めている人間関係です
              </p>

            <% else %>

              <!--ページに訪れた際に表示-->
              <p class="mt-1">
                人間関係とはたくさんあります<br>
              </p>
              <p>
                自身を高めてくれる人<br>
                大切に思う人<br>
                なんでも楽しめる人<br>
                なんでも話せる人<br>
                そして喧嘩ができる人
              </p>
              <p>
                いい人間関係があれば<br>
                悪い人間関係もあります
              </p>
              <p>
                怒ってくる人<br>
                傷つけてくる人<br>
                生理的に合わない人
              </p>
              <p>
                これから<br>
                たくさんの人と出会っていきます<br>
                その中で付き合っていく人を<br>
                選んでいく必要があり<br>
                選ばれる必要があります
              </p>
              <p>
                理想を叶えていくと自然と選ばれていきます
              </p>
              <p>
                そしてあなたに必要な人は必ず集まってきます
              </p>

            <% end %>
          </div>
        </div>

        <!--キーワードのタブ-->
        <div class="tab-pane fade" id="nav-keyword" role="tabpanel" aria-labelledby="nav-keyword-tab">
          <%= render 'users/keyword_show' %>
        </div>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <% if params[:record] %>

        <!--保存に成功した場合-->
        <h5 class="masking-tape">
          <u>
            理想の人間関係を記録しました
          </u>
        </h5>

      <% else %>

        <!--ページに訪れた際に表示-->
        <h5 class="smart-frame">
          <u>
            あなたが関わっていきたい<br>
            人との関係を教えて下さい
          </u>
        </h5>

      <% end %>
      <p>
        先輩・後輩・上司・家族・夫婦・友人・親友<br>
        ひとつ人間関係といっても<br>
        いくつも存在しています
      </p>
      <p>
        ですが、ここでの人間関係は</br>
        どういう関係性を持っていて<br>
        どのような関わりを持つのかということです
      </p>
      <p>
        自身を高めてくれる関係<br>
        なんでも話せる関係<br>
        相談し合える関係<br>
        楽しめる関係
      </p>
      <p>
        そういう人間関係を教えて下さい
      </p>
      <%= form_with model: @ideal,url: relationship_create_ideals_path, method: :post do |f| %>
        <%= render :partial =>'form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>