<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <!--タブ表示機能-->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-residence-tab" data-toggle="tab" href="#nav-residence" role="tab" aria-controls="nav-residence" aria-selected="true">理想の住まい</a>
          <a class="nav-item nav-link" id="nav-keyword-tab" data-toggle="tab" href="#nav-keyword" role="tab" aria-controls="nav-keyword" aria-selected="false">キーワード</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <!--理想の住まいのタブ-->
        <div class="tab-pane fade show active" id="nav-residence" role="tabpanel" aria-labelledby="nav-residence-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <% if params[:error] %>

              <!--バリデーションエラーが発生した場合-->
              <h5 class="smart-frame bg-warning">
                <u>
                  理想の住まいの作成に<br>
                  失敗しました
                </u>
              </h5>
              <p>
                教えていただいた理想の住まいに<br>
                空欄があったみたいです
              </p>
              <p>
                住まいということは<br>
                住居だけではなく住んでいる環境です
              </p>
              <p>
                引っ越しするときの条件<br>
                部屋のレイアウト<br>
                部屋の家具の条件<br>
                近所に何があるのか<br>
                移動時間はどれくらいあるのか
              </p>
              <p>
                どんな部屋がいいですか<br>
                どんな環境がいいですか<br>
                近所には何があればいいですか<br>
              </p>
              <p>
                それがあなたの理想の住まいです
              </p>

            <% else %>
              <!--ページに訪れた際に表示-->

              <p class="mt-1">
                住まいとはなんでしょう
              </p>
              <p>
                それは癒し<br>
                それは自分の場所<br>
                それは落ち着く場所<br>
                それは楽しめる場所
              </p>
              <p>
                住まいというのは<br>
                食事をとって寝る<br>
                それだけの場所ではありません
              </p>
              <p>
                あなたがあなたらしくいられる場所
              </p>
              <p>
                心と体をリセットできる空間<br>
                趣味や娯楽を楽しめる空間<br>
                知識と経験を学ぶ場所
              </p>
              <p>
                将来を思い描いてみましょう<br>
                そしたらそこには<br>
                あなたの住んでいる場所があります
              </p>

            <% end %>
          </div>
        </div>

        <!--キーワードのタブ-->
        <div class="tab-pane fade" id="nav-keyword" role="tabpanel" aria-labelledby="nav-keyword-tab">
          <%= render 'users/keyword_show' %>
        </div>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <% if params[:record] %>

        <!--保存に成功した場合-->
        <h5 class="masking-tape">
          <u>
            理想の住まいを記録しました
          </u>
        </h5>

      <% else %>

        <!--ページに訪れた際に表示-->
        <h5 class="smart-frame">
          <u>
            あなたの住みたいと思える<br>
            欠けることのできない<br>
            大事なものを教えて下さい
          </u>
        </h5>

      <% end %>
      <p>
        それはどうして欠かせないのか<br>
        どうして必要なのか
      </p>
      <p>
        理想の住まいと言えど<br>
        住まいでできることはたくさんあります
      </p>
      <p>
        どうしてなのかという理由を<br>
        より鮮明に思い描くことができるならば
      </p>
      <p>
        きっと将来それは得ることができます
      </p>
      <%= form_with model: @ideal, url: residence_create_ideals_path, method: :post do |f| %>
        <%= render :partial =>'form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>