<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <!--タブ表示機能-->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-role_model-tab" data-toggle="tab" href="#nav-role_model" role="tab" aria-controls="nav-role_model" aria-selected="true">理想のモデル</a>
          <a class="nav-item nav-link " id="nav-keyword-tab" data-toggle="tab" href="#nav-keyword" role="tab" aria-controls="nav-keyword" aria-selected="false">キーワード</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <!--理想のロールモデルのタブ-->
        <div class="tab-pane fade show active" id="nav-role_model" role="tabpanel" aria-labelledby="nav-role_model-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <% if params[:error] %>

              <!--バリデーションエラーが発生した場合-->
              <h5 class="smart-frame bg-warning">
                <u>
                  理想のロールモデルの作成に<br>
                  失敗しました
                </u>
              </h5>
              <p>
                教えていただいた理想のモデルに<br>
                空欄があったみたいです
              </p>
              <p>
                理想を考える時には<br>
                きっとそこには理想叶えている人がいるでしょう
              </p>
              <p>
                その人にあなたが近づく<br>
                性格や言動、行動をするときに<br>
                この人だったらと考える
              </p>
              <p>
                それがあなたにとっての理想を叶えている<br>
                真似をするべきモデルです
              </p>

            <% else %>

              <!--ページに訪れた際に表示-->
              <p class="mt-1">
                きっと誰しも思ったことがあるでしょう
              </p>
              <p>
                いいなぁ<br>
                憧れるなぁ
              </p>
              <p>
                それは理想を叶えている人の姿です
              </p>
              <p>
                理想を体現している人がいるのならば<br>
                あなたがその人のことをよく知って
              </p>
              <p>
                その人の行動やその人の考え方<br>
                それを真似すればいいだけです
              </p>
              <p>
                何もわからない手探りの状態より<br>
                簡単だと思いませんか
              </p>
              <p>
                まずは話し方からでも歩き方でも<br>
                箸の持ち方や一つの考え方でも
              </p>
              <p>
                はじめの一歩はなんでもいい<br>
                一歩ずつ歩んでいけばいいのですから
              </p>

            <% end %>
          </div>
        </div>

        <!--キーワードのタブ-->
        <div class="tab-pane fade" id="nav-keyword" role="tabpanel" aria-labelledby="nav-keyword-tab">
          <%= render 'users/keyword_show' %>
        </div>
      </div>
    </div>


    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <% if params[:record] %>

        <!--保存に成功した場合-->
        <h5 class="masking-tape">
          <u>
            理想のパートナー像を記録しました
          </u>
        </h5>

      <% else %>

        <!--ページに訪れた際に表示-->
        <h5 class="smart-frame">
          <u>
            あなたの理想を叶えている人達<br>
            憧れている人達を教えて下さい
          </u>
        </h5>

      <% end %>
      <p>
        あなたの理想の将来を思い描く時には<br>
        それを叶えている人達がいることと思います
      </p>
      <p>
        その人達のことをよく知ることで<br>
        あなたの理想の未来に近づいていけます
      </p>
      <p>
        そしてその人達を知っていくということは<br>
        あなたの手の届くところに<br>
        その理想が寄ってきていることです
      </p>
      <%= form_with model: @ideal,url: role_model_create_ideals_path, method: :post do |f| %>
        <%= render :partial =>'form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>