<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <% unless params[:error] %>
        <p>
          あなたはきっと<br>
          仕事・勉強・娯楽・趣味
        </p>
        <p>
          そういった様々なことに<br>
          時間をかけてきたことと思います<br>
          そしてそれにかける情熱やお金も
        </p>
        <p>
          それはとてもいいことで<br>
          とても素晴らしいことです
        </p>
        <p>
          仕事ができなければ<br>
          お金を稼ぐことができません
        </p>
        <p>
          勉強ができなければ<br>
          学ぶことができません
        </p>
        <p>
          娯楽ができなければ<br>
          楽しむことができません
        </p>
        <p>
          趣味ができなければ<br>
          情熱をかけることができません
        </p>
        <p>
          全てとても重要で大切なものです
        </p>
      <% else %>
        <h5 class="smart-frame bg-warning">
          <u>
            理想の時間の使い方の作成に失敗しました
          </u>
        </h5>
        <p>
          教えていただいた<br>
          理想の時間の使い方に<br>
          空欄があったみたいです
        </p>
        <p>
          予定の作成を行えば<br>
          あなたにとっての<br>
          重要なこと・大事なこと<br>
          やらなければいけないこと<br>
          辞めるべきこと<br>
          それらがわかると思います
        </p>
        <p>
          何に時間をかけますか<br>
          それに時間を使うことで<br>
          あなたの人生が<br>
          幸せな気持ちになります
        </p>
        <p>
          他の人にとって<br>
          無駄だと思われることが<br>
          あなたが求めている<br>
          時間の使いたいことかもしれません
        </p>
      <% end %>
      <%= render 'users/keyword_show' %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <% if params[:record] %>
        <h5 class="masking-tape">
          <u>
            理想の時間の使い方を<br>
            記録しました
          </u>
        </h5>
      <% else %>
        <h5 class="smart-frame">
          <u>
            あなたの理想の時間の使い方<br>
            エネルギーをかけたいことを<br>
            3つ教えて下さい
          </u>
        </h5>
      <% end %>
      <p>
        より具体的の教えていただけると<br>
        時間やエネルギーをかけたいことの<br>
        イメージが深まります
      </p>
      <p>
        どのようなことに時間をかけたいですか</br>
        どのようなことにエネルギー<br>
        情熱をかけて取り組みたいですか
      </p>
      <p>
        ゆったりとした時間でも<br>
        激しく過ごす時間でも<br>
        なんでも構いません
      </p>
      <%= form_with model: @ideal,url: spend_time_create_ideals_path, method: :post do |f| %>
        <%= render :partial =>'form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>