<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <!--タブ表示機能-->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-working-tab" data-toggle="tab" href="#nav-working" role="tab" aria-controls="nav-working" aria-selected="true">理想の働き方</a>
          <a class="nav-item nav-link " id="nav-keyword-tab" data-toggle="tab" href="#nav-keyword" role="tab" aria-controls="nav-keyword" aria-selected="false">キーワード</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <!--理想の働き方のタブ-->
        <div class="tab-pane fade show active" id="nav-working" role="tabpanel" aria-labelledby="nav-working-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <% if params[:error] %>

              <!--バリデーションエラーが発生した場合-->
              <h5 class="smart-frame bg-warning">
                <u>
                  理想の働き方の作成に<br>
                  失敗しました
                </u>
              </h5>
              <p>
                教えていただいた理想の働き方に<br>
                空欄があったみたいです
              </p>
              <p>
                世の中には<br>
                ホワイトな職場があり<br>
                ブラックな職場があります
              </p>
              <p>
                あなたにとっての<br>
                あなただけにとっての<br>
                ホワイトな職場の条件です
              </p>
              <p>
                あなたが楽しいと思えること<br>
                働きたいと思える内容<br>
                それが理想の働き方です
              </p>
              <p>
                そして働きたくないと思う<br>
                働く条件の反対です
              </p>

            <% else %>

              <!--ページに訪れた際に表示-->
              <p class="mt-1">
                働くということは<br>
                何かを対価にお金を得るということです
              </p>
              <p>
                仕事の成果を褒められた<br>
                やりがいを感じた<br>
                自身の成長を感じた
              </p>
              <p>
                楽しい事も嬉しい事もあれば<br>
                悲しい事も辛い事<br>
                負担になることもあります
              </p>
              <p>
                人間関係が負担になる<br>
                働き方が負担になる<br>
                働く時間帯、勤務時間が負担になる<br>
                自身の実力不足を痛感して負担になる
              </p>
              <p>
                それらは恥ずべきことではありません<br>
                無理なものは無理なのですから
              </p>
              <p>
                辞めること、逃げることは恥ではありません<br>
                より良い場所がきっと<br>
              </p>
              <p>
                あなたには待っています
              </p>

            <% end %>
          </div>
        </div>

        <!--キーワードのタブ-->
        <div class="tab-pane fade" id="nav-keyword" role="tabpanel" aria-labelledby="nav-keyword-tab">
          <%= render 'users/keyword_show' %>
        </div>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <% if params[:record] %>

        <!--保存に成功した場合-->
        <h5 class="masking-tape">
          <u>
            理想の働き方を記録しました
          </u>
        </h5>

      <% else %>

      <!--ページに訪れた際に表示-->
      <h5 class="smart-frame">
        <u>
          あなたの働きたいと思える<br>
          理想の条件を教えて下さい
        </u>
      </h5>

      <% end %>
      <p>
        働く時間・仕事内容・働く場所・給料
      </p>
      <p>
        理想が叶った時に嬉しく感じること
      </p>
      <p>
        その働き方は<br>
        あなたが求めているものであり<br>
        あなたを求めているものでもあります<br>
        それが必ずあるのですから
      </p>
      <p>
        詳しく教えて下さい
      </p>
      <%= form_with model: @ideal, url: working_create_ideals_path, method: :post do |f| %>
        <%= render :partial =>'form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>