<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <% if params[:error] %>

        <!--バリデーションエラーが発生した場合-->
        <%= render 'motivations/motivations_template/error' %>

      <% else %>

        <!--このページに訪れた際に表示-->
        <%= render 'motivations/motivations_template/negative' %>

      <% end %>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <% if params[:record] %>

        <!--保存が成功した場合-->
        <h5 class="masking-tape">
          <u>
            ネガティブモチベーションを<br>
            記録しました
          </u>
        </h5>

      <% else %>

        <!--このページに訪れた際に表示-->
        <h5 class="smart-frame">
          <u>
            あなたの感情がネガティブに<br>
            動いた瞬間を教えてください
          </u>
        </h5>

      <% end %>
      <p>
        ネガティブな感情には一般的な定義がなく<br>
        「自分にとって良いか悪いか」<br>
        「人にとって良いか悪いか」<br>
        ただそれだけです
      </p>
      <p>
        そしてこの基準は千差万別です
      </p>
      <p>
        あなたの基準もきっと<br>
        その時置かれている環境や状況<br>
        そして年齢とともに変わっていくでしょう
      </p>
      <%= form_with model: @motivation,url: negative_create_motivations_path, method: :post do |f| %>
        <%= render :partial =>'motivations/motivations_template/form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>