<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <% if params[:error] %>

        <!--バリデーションエラーが発生した場合-->
        <%= render 'motivations/motivations_template/error' %>

      <% else %>

        <!--このページに訪れた際に表示-->
        <%= render 'motivations/motivations_template/positive' %>

      <% end %>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <% if params[:record] %>

        <!--保存が成功した場合-->
        <h5 class="masking-tape">
          <u>
            ポジティブモチベーションを<br>
            記録しました
          </u>
        </h5>

      <% else %>

        <!--このページに訪れた際に表示-->
        <h5 class="smart-frame">
          <u>
            あなたの感情がポジティブに<br>
            動いた瞬間を教えてください
          </u>
        </h5>

      <% end %>
      <p>
        それはあなたが感じたことが全てです。
      </p>
      <p>
        感動して泣きそうになってしまうこと<br>
        音楽を聴いて嬉しくなり楽しくなること<br>
        好きな絵を見てドキドキすること<br>
        言われたら嬉しい言葉<br>
        自分に伝えたい言葉
      </p>
      <p>
        どんなことでも構いません
      </p>
      <p>
        きっとそれは<br>
        ありふれた日常の中にたくさんあります
      </p>
      <%= form_with model: @motivation,url: positive_create_motivations_path, method: :post do |f| %>
        <%= render :partial =>'motivations/motivations_template/form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>