<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <% if params[:error] %>

        <!--バリデーションエラーが発生した場合-->
        <%= render 'motivations/motivations_template/error' %>

      <% else %>

        <!--このページに訪れた際に表示-->
        <%= render 'motivations/motivations_template/want' %>

      <% end %>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <% if params[:record] %>

        <!--保存が成功した場合-->
        <h5 class="masking-tape">
          <u>
            欲しいものを記録しました
          </u>
        </h5>

      <% else %>

        <!--このページに訪れた際に表示-->
        <h5 class="smart-frame">
          <u>
            あなたの心が欲しいと思ったもの<br>
            教えてください
          </u>
        </h5>

      <% end %>
      <p>
        手に入れたいもの<br>
        欲しいものの価値は<br>
        自分以外の誰かが決めたものです
      </p>
      <p>
        あなたが欲しいものの価値が低くても<br>
        あなたにとっての価値が高いのであれば
      </p>
      <p>
        それは大きな価値であり<br>
        掛け替えのないものです
      </p>

      <%= form_with model: @motivation,url: want_create_motivations_path, method: :post do |f| %>
        <%= render :partial =>'motivations/motivations_template/form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>