<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <% unless params[:error] %>
        <%= render 'motivations/motivations_template/want' %>
      <% else %>
        <%= render 'motivations/motivations_template/error' %>
      <% end %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <% if params[:record] %>
        <h5 class="masking-tape">
          <u>
            欲しいものに<br>
            記録しました
          </u>
        </h5>
      <% else %>
        <h5 class="smart-frame">
          <u>
            あなたの心が欲しいと思ったもの<br>
            教えてください
          </u>
        </h5>
      <% end %>
      <p>
        手に入れたいもの<br>
        欲しいものの価値は<br>
        自分以外の誰かが決めたものです
      </p>
      <p>
        あなたが欲しいものの価値が低くても<br>
        あなたにとっての価値が高いのであれば
      </p>
      <p>
        それは大きな価値です
      </p>

      <%= form_with model: @motivation,url: want_create_motivations_path, method: :post do |f| %>
        <%= render :partial =>'motivations/motivations_template/form', :locals => {:f => f}  %>
      <% end %>
    </div>

  </div>
</div>