img {
  width: -webkit-fill-available;
}

.strip-paper a {
  writing-mode: vertical-rl;
}

.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
}

.btn-flat span {
  position: relative;
}

.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -ms-transform: translateX(-96%);
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #eb6877;
}

.btn-flat:hover:before {
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
